header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color:var(--background);
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo-container {
        // width: 50%;
            font-size: 2.5rem;
            color:var(--text-color);
            font-weight:bold;
            cursor:default;
    }
    #menu-icon {
        color:var(--text-color);
        display: none;
    }
    a{
        font-size: 1.7rem;
        color:var(--text-color);
        margin-left: 4rem;
        text-decoration: none;
    }
    nav {
        // width: 50%;
        // padding: 1.5rem;
        display: flex;
        justify-content: flex-end;
        // padding-right: 10rem;
    
        a{
            cursor: pointer;
            text-decoration: none;
            color:var(--text-color);
            font-weight: bold;
            position: relative;
            padding: 0 .5rem 1rem;
    
            &::after{
                content: "";
                position: absolute;
                width: 0%;
                height: 1px;
                left: 0;
                bottom: 0;
                background-color:white;
                transition: .4s width ease-in-out;
            }
            &:hover, .active{
                color:var(--main-color);
    
                &::after {
                    width: 100%;
                }
            }
        }
        .active{
            color:var(--main-color);

        }
    }
}